* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #3ecea0, #3e7064);
}

.header {
  width: 80%;
  margin: 3rem auto;
  color: white;
  font-size: 1.5rem;
}

.header h1 {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.container {
  max-width: 768px;
  margin: 3rem auto;
}

.text {
  padding: 1rem;
  border: 2px solid black;
  margin-top: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px black;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text p {
  color: white;
  font-size: 1.2rem;
}
